process {
    cpus = 1
    memory = 4.GB
    time = '1 hour'
    //publishDir = [ path: params.outdir, mode: 'copy' ]
}

executor {
  queueSize = 30
}

profiles {

    // Execute pipeline with Docker locally
    docker {
        docker.enabled      = true
        docker.remove       = true
        wave.enabled        = true
        docker.registry     = 'quay.io'
        docker.enabled      = true
        docker.temp         = 'auto'
        docker.fixOwnership = true
	    docker.runOptions   = '-u $(id -u):$(id -g) --rm'
        process.executor    = 'local'
    }

   // Execute pipeline with k8s
   kubernetes {
        debug.yaml = true
        process.scratch = true
        wave.enabled = true
        fusion.enabled = false
        fusion.privileged = false
        process.executor = 'k8s'
        storageClaimName = 'nextflow-pvc'
        namespace = 'nextflow'
        serviceAccount = 'nextflow-sa'
   }

}
