process {
    executor = 'k8s'
}
wave {
    enabled = false
}
fusion {
    enabled = false
    privileged = false

}
k8s {
    debug {
     yaml = true
    }
    serviceAccount = 'nextflow-sa'
    namespace = 'nextflow'
    storageClaimName = 'nextflow-pvc'
    podVolume = 'nextflow-pvc:/mnt/nfs_workdir'
}
